<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<th:block th:fragment="header">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <!-- 로고 (왼쪽) -->
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/image/logo.png}" alt="Happy House Logo" class="logo-image" style="height: 40px;">
                </a>
                <!-- 토글 버튼 (모바일 뷰) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 네비게이션 항목들 (오른쪽) -->
                <section class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">거래정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/post}">커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/mypage(menu='profile')}" id="mypageLink" style="display: none;">마이페이지</a>
                        </li>
                        <!--이메일, 로그아웃-->
                        <li id="authSection" class="d-flex align-items-center">

                        </li>
                    </ul>
                </section>
            </div>
        </nav>
    </header>
    <script th:inline="javascript">
        //페이지 로드 시 인증 상태 확인
        function checkAuthStatus() {
            const token = localStorage.getItem('accessToken');
            if(token) {
                //console.log('checkAuthStatus()', token);
                //alert('checkAuthStatus() 호출');
                sendAuthenticatedRequest('/member/check-auth', 'GET')
                    .then(data => {
                        console.log('sendAuthenticatedRequest(check-auth) 성공 :', data);
                        if (data.isLoggedIn) { //로그인 상태
                            updateUIForLoggedInUser(data.nickname);
                        } else { //로그인 안 된 상태
                            showLoginRegisterLinks();
                        }
                    })
                    .catch(error => {
                        console.error('sendAuthenticatedRequest(check-auth) 오류 :', error);
                        alert(error);
                        if (error.message === 'Unauthorized') {
                            localStorage.removeItem('accessToken'); // 수정: Unauthorized 에러 시 토큰 제거
                        }else if(error.message === 'Access Denied'){
                            console.log('checkAuthStatus() :403')
                            alert("checkAuthStatus() 403");
                        }
                        showLoginRegisterLinks();
                    });
            } else { //토큰 없을 경우(로그인X)
                showLoginRegisterLinks();
            }
        }
        // 액세스 토큰을 사용하여 인증된 요청을 보내는 함수
        function sendAuthenticatedRequest(url, method, body) {
            const accessToken = localStorage.getItem('accessToken');
            return fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify(body),
                credentials: 'include'
            }).then(response => {
                //console.log('sendAuthenticatedRequest response', response);
                if (response.status === 401) {
                    // 액세스 토큰이 만료된 경우, 리프레시 토큰으로 갱신
                    return refreshAccessToken().then(() => {
                        //console.log('refreshAccessToken() 반환');
                        // 새 액세스 토큰으로 원래 요청 재시도
                        return sendAuthenticatedRequest(url, method, body);
                    });
                }else if(response.status === 403){
                    console.log('sendAuthenticatedRequest() :403')
                    //alert("sendAuthenticatedRequest 403");
                }
                return response.json();
            });
        }
        // 액세스 토큰 갱신 함수
        function refreshAccessToken() {
            return fetch('/member/refresh', {
                method: 'POST',
                credentials: 'include'
            }).then(response => {
                if (response.ok) {
                    const newAccessToken = response.headers.get('Authorization');
                    if (newAccessToken && newAccessToken.startsWith('Bearer ')) {
                        localStorage.setItem('accessToken', newAccessToken.substring(7));
                    }
                } else {
                    throw new Error('Token refresh failed');
                }
            });
        }

        //로그인될 경우 생성
        function updateUIForLoggedInUser(nickname) {
            //권한
            const token = localStorage.getItem('accessToken');
            //const decodedToken = parseJwt(token);
            const userRole = parseJwt(token).role; // 토큰에서 role 정보 추출

            //let adminMenuHtml = '';
            let authMenuHtml = `
                <section>
                    <span>${nickname}님</span>
                    <button class="btn btn-primary ms-2" onclick="logout()">로그아웃</button>
                </section>
            `;
            if (userRole === 'ADMIN') {
                let adminMenuHtml = '<li class="nav-item"><a class="nav-link" href="/admin">관리자 페이지</a></li>';
                authMenuHtml = adminMenuHtml+authMenuHtml;
            }
            document.getElementById('authSection').innerHTML = authMenuHtml;
            document.getElementById('mypageLink').style.display = 'inline-block';
        }
        //토큰에서 이메일 추출
        function getEmailFromToken(token) {
            const payload = token.split('.')[1]; // JWT의 두 번째 부분(페이로드) 추출
            const decodedPayload = JSON.parse(atob(payload)); // Base64 디코딩 후 JSON으로 변환
            return decodedPayload.email; // 이메일 정보 반환
        }
        //로그아웃 처리
        function logout() {
            const accessToken = localStorage.getItem('accessToken');
            if (!accessToken) {
                console.error('엑세스 토큰을 찾을 수 없습니다.');
                window.location.reload();
                return;
            }
            const email = getEmailFromToken(accessToken); // 토큰에서 이메일 추출

            fetch('/member/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + accessToken
                },
                credentials: 'include',
                body: JSON.stringify({ email: email }) // 추출한 이메일 정보를 본문에 포함
            })
                .then(response => {
                    if (response.ok) {
                        localStorage.removeItem('accessToken');
                        window.location.href = '/'; // 홈 화면으로 이동
                        //window.location.reload();
                    } else if (response.status === 401) {
                        console.error('401 Unauthorized: 토큰이 만료됐거나 유효하지 않음');
                        //localStorage.removeItem('accessToken');
                        //window.location.reload();
                    } else {
                        throw new Error('Logout failed');
                    }
                })
                .catch(error => {
                    console.error('로그아웃 중 오류 발생:', error);
                });
        }
        //회원이 아닐 경우 로그인, 로그아웃 버튼 표시
        function showLoginRegisterLinks() {
            document.getElementById('authSection').innerHTML = `
            <a href="/member/login" class="btn btn-outline-primary me-2">로그인</a>
            <a href="/member/register" class="btn btn-primary">회원가입</a>
        `;
            document.getElementById('mypageLink').style.display = 'none';
        }
        //JWT 디코딩
        function parseJwt(token) {
            const base64Url = token.split('.')[1];
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            return JSON.parse(window.atob(base64));
        }
        // 페이지 로드 시 인증 상태 확인
        document.addEventListener('DOMContentLoaded', checkAuthStatus);
    </script>
    <!-- 부트스트랩 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</th:block>
</html>