<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>커뮤니티</title>
</head>
<body>
<!--네비게이션-->
<nav class="nav">
    <a>home</a>
    <div>
        <a>거래정보</a>
        <a>커뮤니티</a>
        <a>마이페이지</a>
        <a>로그인설정</a>
    </div>
</nav>

<!--페이지 제목 & 검색-->
<header>
    <a th:href="@{/post}">
        <h1>커뮤니티</h1>
    </a>
    <a th:href="@{/post/form}">
        <p>게시글 작성</p>
    </a>
    <form th:action="@{/post}" method="get">
        <label for="searchByTitle"></label>
        <input type="text" id="searchByTitle" name="title" placeholder="검색어를 입력해주세요" />
        <button type="submit"> 검색 </button>
    </form>
</header>

<!--게시글목록 테이블-->
<table>
    <thead>
    <tr>
        <th> 구분 </th>
        <th> 제목 </th>
        <th> 작성자 </th>
        <th> 작성일 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}" th:unless="${post.deleteYn}">
        <td>
            <span th:if="${post.noticeYn}"> 공지 </span>
        </td>
        <td >
            <a th:text="${post.title}" th:href="@{/post/{post_id}(post_id = ${post.postId})}"></a>
        </td>
        <td th:text="${post.userId}"></td>
        <td th:text="${#dates.format(post.createdAt, 'yyyy.MM.dd')}"></td>
    </tr>
    </tbody>
</table>

<!--&lt;!&ndash;전체 조회 페이징 번호&ndash;&gt;-->
<!--<div class="pageNum" th:unless="${isSearchPage}">-->
<!--    &lt;!&ndash;첫 페이지로 이동&ndash;&gt;-->
<!--    <a th:href="@{/post(page=0)}"> << </a>-->
<!--    &lt;!&ndash;5개 단위로 페이지 이동 &ndash;&gt;-->
<!--    <a th:href="@{/post(page=${(nowPage > 5) ? (nowPage - 6) : (nowPage - 1)})}"> < </a>-->
<!--    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--        &lt;!&ndash;현재 페이지와 다른 페이지를 클릭시 해당 페이지로 넘어감&ndash;&gt;-->
<!--        <a th:if="${page != nowPage}" th:href="@{/post(page=${page - 1})}" th:text="${page}"></a>-->
<!--        &lt;!&ndash;현재 페이지와 같은 페이지를 클릭시 변화없음&ndash;&gt;-->
<!--        <strong th:if="${page == nowPage}" th:text="${page}"></strong>-->
<!--    </th:block>-->
<!--    &lt;!&ndash;5개 단위로 페이지 이동 &ndash;&gt;-->
<!--    <a th:href="@{/post(page=${(nowPage < totalPage - 4) ? (nowPage + 4) : (nowPage - 1)})}"> > </a>-->
<!--    &lt;!&ndash;마지막 페이지로 이동&ndash;&gt;-->
<!--    <a th:href="@{/post(page=${totalPage - 1})}"> >> </a>-->
<!--</div>-->

<!--검색 결과 페이징 번호-->
<div class="pageNum" >
    <!--첫 페이지로 이동-->
    <a th:href="@{/post(title=${searchTitle}, page=0)}"> << </a>
    <!--5개 단위로 페이지 이동 -->
    <a th:href="@{/post(title=${searchTitle}, page=${(nowPage > 5) ? (nowPage - 6) : (nowPage - 1)})}"> < </a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <!--현재 페이지와 다른 페이지를 클릭시 해당 페이지로 넘어감-->
        <a th:if="${page != nowPage}" th:href="@{/post(title=${searchTitle}, page=${page - 1})}" th:text="${page}"></a>
        <!--현재 페이지와 같은 페이지를 클릭시 변화없음-->
        <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
    <!--5개 단위로 페이지 이동 -->
    <a th:href="@{/post(title=${searchTitle}, page=${(nowPage < totalPage - 5) ? (nowPage + 4) : (nowPage - 1)})}"> > </a>
    <!--마지막 페이지로 이동-->
    <a th:href="@{/post(title=${searchTitle}, page=${totalPage - 1})}"> >> </a>
</div>

</body>
</html>